<!-- fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	<div th:fragment="menuLateral">
	
	<!-- Menú lateral -->
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="/tareas"  onclick="cargarContenido(event, this.href)">Tareas</a></li>
        <li class="nav-item"><a class="nav-link" href="/completadas" onclick="cargarContenido(event, this.href)">Completadas</a></li>
        <li class="nav-item"><a class="nav-link" href="/miDia" onclick="cargarContenido(event, this.href)">Mi Día</a></li>
      </ul>
	</div>
	
</body>